<% flash.each do |alrt_type, alert_content| %>
    <div class="ui <%= alrt_type %> message">
        <i class="close icon"></i>
        <div class="header">
            <%= alert_content %>
        </div>
    </div>
<% end %>